@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Patrick Hand', fantasy;
    font-size: 16px;
    background-color: #e08a3427;
}

header{
  font-size: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  color: #424242;
  text-align: center;
}

header a{
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  color: #414141;
}

/* ================================================================================================ */
.login{
  border: none;
  background-color:#B36900;;
  color:white;
  padding:10px 15px;
  display: block;
  font-size: 18px;
  font-weight: 500;
  border-radius: 3px;
}

.logo_hold{
  width: 100%;
}

table{
  text-align: center;
  width: 98%;
  margin: 0px auto;
  background-color: #fff;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}
th, td {
  padding: 2px;
  text-align: center;

}

/* ================================================================================================ */
/* login form */
.login_form_wrapper{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.781);
  z-index: 3;
  display: none; 
}

.login_form{
  position: absolute;
  width: 90%;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid grey;
  display: block;
  box-shadow: 0px 0px 2px 0px #eee;
  z-index: 2;
  padding: 10px;
}
@media screen and (min-width:650px){
  .login_form{
    width: 55%;
    max-width: 500px;
   
  }
}
.login_form h2{
  text-align: center;
  font-size: 30px;
}
.login_form input{
  width: 100%;
  border: 1px solid #5f5b55;
  padding: 10px;
}
.login_form label{
  padding:10px 0;
  display: block;
}
.login_form button{
  margin: 10px 0;
  width: 100%;
}
.form_Error{
  color: red;
  text-align: center;
  padding: 10px;
}
/* ================================================================================================ */
.section_space{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

figure{
  width: 20%;
}

figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ============================== */
.carousel {
    position: relative;
    height: 270px;
    width: 100%;
    margin: 0 auto;
  }

  @media screen and (min-width:600px){
    .carousel {
      position: relative;
      height: 400px;
      width: 90%;
      margin: 0 auto;
    }
  }

  .carousel .carousel_track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  .carousel .carousel_track-container .carousel_track {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 100%;
    transition: transform 250ms ease-in;
  }
  .carousel .carousel_track-container .carousel_track .carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  
  .carousel .carousel_track-container .carousel_track .carousel_slide .carousel_images {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

  .carousel .slide_button_wrapper {
    position: absolute;
    bottom: 40px;
    right: 0;
    display: flex;
    width: 150px;
    justify-content: space-evenly;
  }
  .carousel .carousel_button {
    display: grid;
    place-content: center;
    padding: 20px;
    background-color: unset;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 2px solid white;
    color: white;
    outline: none;
  }
  .carousel .carousel_nav {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    left: 20px;
  }
  .carousel .carousel_nav .carousel_indicator {
    background-color: white;
    margin: 4px;
    width: 15px;
    height: 15px;
    transition: background-color 0.5s ease-in-out;
    border: none;
    outline: none;
  }
  .carousel .carousel_nav .carousel_indicator.current_slide {
    background-color: #f12459;
  }


  /* registration */
.registration{
  width:100%;
  margin:0 auto;
  padding: 10px;
}

@media screen and (min-width:600px){
    /* registration */
  .registration{
    width: 50%;
    margin:0 auto;
  }
}
.names__section {
  box-sizing: border-box;
  border-radius: 10px;
}
.names__section .title{
  background-color:#e3b45f;
  padding: 10px;
  color: white;
  font-size: inherit;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 24px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* section_space */
.names__section  .section_space{
  background-color: white;
  margin-bottom: 10px;
  padding:35px 20px 35px;
  box-shadow: 0px 0px 0px 1px #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}
.names__section .section_space.first_box{
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

/* Input */
.names__section .input, .other {
  width:  80%;
  padding-bottom: 3px;
  border: none;
  display: block;
  background-color: transparent;
  border-bottom: 1px solid #222;
  outline: none;
}

@media screen and (min-width:600px){
  .names__section .input, .other {
    width:  50%;
  }
}

/* error */
.names__section .error{
  color: red;;
  padding:7px 0;
  display: block;
}
.names__section input.borderDanger {
  border-bottom: 2px solid red;
  background-color: unset;
  transition: all 0.5s ease-in-out;
}
.names__section input.borderSuccess{
  border-bottom: 2px solid green;
  background-color: unset;
  transition: all 0.5s ease-in-out;
}

/* Label */
.names__section label{
  padding-bottom: 35px;
  display: block;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 24px;
  color: #202124;
  font-weight: 400;
}
.names__section label .star{
  color:red;
  
}

/* Level checkbox */
.checkbox_wrapper{
  display: flex;
  align-items: center;
  gap: 7px;
  /* margin-bottom: 14px; */
}
.checkbox_wrapper input[type="radio"] {
  height:20px;
  width: 20px;
}
.checkbox_wrapper p{
  font-size: 14px;
  font-family: Roboto,Arial,sans-serif;;
  color: #202124;
}

/* level */
.other_wrapper{
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
 

}
.other{
  width: 100%;

}

/* submitBtn */
.submitBtn{
  padding: 10px 24px;
  border: none;
  color: white;
  font-size: inherit;
  background-color: #B36900;
  border-radius: 5px;
}

.success{
  background-color: green;;
  color: white;
  width: 100%;
  text-align: center;
  padding:5px 10px;
  font-size: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  border-radius:5px;
  
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: white;
  padding: 15px 0px;
  background-color: #e3b45f;
}

footer h2{
  width: 100%;
  padding-right: 55px;
  margin: 0 auto;
}

footer section{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

footer section a{
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.fb{
  color:#0084ff;
}

.yt{
  color: red;
}

.mr{
  color: tomato;
}